[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bsearchtools"]
	path = bsearchtools
	url = https://github.com/digemall/bsearchtools
[submodule "stdvectors"]
	path = stdvectors
	url = https://github.com/digemall/stdvectors
